@charset "utf-8";

#bagianatas{
    height: 300px;
    background-image: linear-gradient(90deg, #A39D92, #ffffff);
    position: static;
}

#bagianhome{
    height: 50px;
    background-color: #636059;
    top : 300px;
    position: static;
}
#Uraian{
    font-size: 35px;
    color: #636059;
    top: 50px;
    font-weight: normal;
    font-family: sans-serif, "Arial";
    position: absolute;
    left: 150px;
}
#Home{
    font-size: 20px;
    color: #ffffff;
    top: 310px;
    font-weight: normal;
    font-family: sans-serif, "Arial";
    position: absolute;
    left: 75px;
}